.Rproj.user
.Rhistory
.RData
.Ruserdata

*.aux
*.log
*.spl

_bookdown_files/

rosm.cache/

target/
_targets/

data/MM_NetworkDataset_06032021.gdb/

data/r5/

.Renviron

data/october_2019_gpspoints.json

R/working_file_dylan.R
